In [2]:
import os
import dotenv
from sqlalchemy import create_engine
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimproduct"
df = pd.read_sql(query, db_engine)
db_engine.dispose ()
df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [4]:
df.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [9]:
df.DealerPrice.describe

<bound method NDFrame.describe of 0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 606, dtype: float64>

In [13]:
df.loc [df.duplicated ()]

Empty DataFrame
Columns: [ProductKey, ProductAlternateKey, ProductSubcategoryKey, WeightUnitMeasureCode, SizeUnitMeasureCode, EnglishProductName, SpanishProductName, FrenchProductName, StandardCost, FinishedGoodsFlag, Color, SafetyStockLevel, ReorderPoint, ListPrice, Size, SizeRange, Weight, DaysToManufacture, ProductLine, DealerPrice, Class, Style, ModelName, LargePhoto, EnglishDescription, FrenchDescription, ChineseDescription, ArabicDescription, HebrewDescription, ThaiDescription, GermanDescription, JapaneseDescription, TurkishDescription, StartDate, EndDate, Status]
Index: []

[0 rows x 36 columns]

In [8]:
df['DealerPrice'] = df['DealerPrice'].round(1)
df['DealerPrice']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     60.7
602     72.9
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [17]:
df['DealerPrice'].clip(lower=0, upper=1000)
df['DealerPrice']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     60.7
602     72.9
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [18]:
df['DealerPrice'].min (), df['DealerPrice'].max ()

(1.4, 2147.0)

In [21]:
df.DealerPrice.drop_duplicates

<bound method Series.drop_duplicates of 0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 606, dtype: float64>

In [23]:
df.drop_duplicates ()

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [30]:
import pandas as pd
import numpy as np

years = 5
a = (pd.DataFrame({"Mese": list("GFMAMGLASOND" * years),               
                  "Anno": np.repeat(list(range(years)), 12),             
                  "Guadagni": np.random.randint(800, 5000, 12 * years)}))

# Calcola la somma cumulativa delle vendite per ogni mese utilizzando il metodo .cumsum()
a['Guadagni cumulativi mese'] = a.groupby(['Anno','Mese'])['Guadagni'].cumsum()

a

   Mese  Anno  Guadagni  Guadagni cumulativi mese
0     G     0      1543                      1543
1     F     0      3317                      3317
2     M     0      1598                      1598
3     A     0      1219                      1219
4     M     0      4020                      5618
5     G     0      1793                      3336
6     L     0      3406                      3406
7     A     0      4615                      5834
8     S     0      4416                      4416
9     O     0      1967                      1967
10    N     0      4161                      4161
11    D     0      3803                      3803
12    G     1      4786                      4786
13    F     1      4105                      4105
14    M     1      2757                      2757
15    A     1      4958                      4958
16    M     1      1954                      4711
17    G     1      1327                      6113
18    L     1      3203                      3203
19    A     1      3617                      8575
20    S     1      1887                      1887
21    O     1      2659                      2659
22    N     1      1889                      1889
23    D     1      2727                      2727
24    G     2      3865                      3865
25    F     2      3393                      3393
26    M     2      2950                      2950
27    A     2      1160                      1160
28    M     2      3311                      6261
29    G     2      4395                      8260
30    L     2      2701                      2701
31    A     2      4533                      5693
32    S     2      2759                      2759
33    O     2      2946                      2946
34    N     2      1506                      1506
35    D     2       912                       912
36    G     3       827                       827
37    F     3      3865                      3865
38    M     3      2851                      2851
39    A     3      4486                      4486
40    M     3      4786                      7637
41    G     3      1053                      1880
42    L     3       941                       941
43    A     3      1147                      5633
44    S     3      4870                      4870
45    O     3      3098                      3098
46    N     3      2971                      2971
47    D     3      2369                      2369
48    G     4      1683                      1683
49    F     4      2622                      2622
50    M     4      1926                      1926
51    A     4      4879                      4879
52    M     4      3823                      5749
53    G     4      1690                      3373
54    L     4      1197                      1197
55    A     4      3625                      8504
56    S     4      2570                      2570
57    O     4      4849                      4849
58    N     4      2084                      2084
59    D     4      3441                      3441

In [ ]:
# Dal database AdventureWorks estraiamo la tabella dimcustomer 
#• Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole 
#• Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio 
#• Sulla colonna Phone, estraiamo ogni parte del numero (ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"]) 
#• Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"

In [32]:
import os
import dotenv
from sqlalchemy import create_engine
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimcustomer"
df1 = pd.read_sql(query, db_engine)
db_engine.dispose ()

df1.columns

Index(['CustomerKey', 'GeographyKey', 'CustomerAlternateKey', 'Title',
       'FirstName', 'MiddleName', 'LastName', 'NameStyle', 'BirthDate',
       'MaritalStatus', 'Suffix', 'Gender', 'EmailAddress', 'YearlyIncome',
       'TotalChildren', 'NumberChildrenAtHome', 'EnglishEducation',
       'SpanishEducation', 'FrenchEducation', 'EnglishOccupation',
       'SpanishOccupation', 'FrenchOccupation', 'HouseOwnerFlag',
       'NumberCarsOwned', 'AddressLine1', 'AddressLine2', 'Phone',
       'DateFirstPurchase', 'CommuteDistance'],
      dtype='object')

In [45]:
df1['FirstName'] = df1['FirstName'].str.lower()
df1['LastName'] = df1['LastName'].str.upper()
print(df1[['FirstName', 'LastName']])

       FirstName LastName
0            jon     YANG
1         eugene    HUANG
2          ruben   TORRES
3        christy      ZHU
4      elizabeth  JOHNSON
...          ...      ...
18479      tommy     TANG
18480       nina     RAJI
18481       ivan     SURI
18482    clayton    ZHANG
18483      jésus  NAVARRO

[18484 rows x 2 columns]

In [35]:
df1[['utente', 'Dominio']] = df1['EmailAddress'].str.split('@', expand=True)
#print(df1[['utente', 'Dominio']])
df1

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,utente,Dominio
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles,jon24,adventure-works.com
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles,eugene10,adventure-works.com
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles,ruben35,adventure-works.com
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles,christy12,adventure-works.com
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles,elizabeth5,adventure-works.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles,tommy2,adventure-works.com
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles,nina21,adventure-works.com
18481,29481,120,AW00029481,None,Ivan,None,Suri,0,1965-07-04,S,...,Employé,0,0,Knaackstr 4,None,1 (11) 500 555-0144,2011-08-13,0-1 Miles,ivan0,adventure-works.com
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles,clayton0,adventure-works.com
18483,29483,217,AW00029483,None,Jésus,L,Navarro,0,1965-06-06,M,...,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles,jésus9,adventure-works.com

In [43]:
#• Sulla colonna Phone, estraiamo ogni parte del numero (ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"]) 
pattern = r'(\d+) (\(\d+\)) (\d+) (\d+-\d+)'
phone_parts = df1['Phone'].str.extract(pattern)
phone_parts.columns = ['Paese', 'Area', 'Prefisso', 'Numero']
phone_parts

      Paese  Area Prefisso    Numero
0         1  (11)      500  555-0162
1         1  (11)      500  555-0110
2         1  (11)      500  555-0184
3         1  (11)      500  555-0162
4         1  (11)      500  555-0131
...     ...   ...      ...       ...
18479     1  (11)      500  555-0136
18480     1  (11)      500  555-0146
18481     1  (11)      500  555-0144
18482     1  (11)      500  555-0137
18483     1  (11)      500  555-0141

[18484 rows x 4 columns]

In [50]:
#• Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"
email_21 = df1[df1['EmailAddress'].str.contains("21")]
print(email_21['EmailAddress'])

64          chase21@adventure-works.com
118         alvin21@adventure-works.com
130      caroline21@adventure-works.com
163       gabriel21@adventure-works.com
203          luis21@adventure-works.com
                      ...
18337      hector21@adventure-works.com
18365      cheryl21@adventure-works.com
18435     stanley21@adventure-works.com
18440      rafael21@adventure-works.com
18480        nina21@adventure-works.com
Name: EmailAddress, Length: 431, dtype: object

In [51]:
#Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10"
email_20_10 = df1[df1['EmailAddress'].str.contains("20", "10")]
print(email_20_10['EmailAddress'])

10        jacquelyn20@adventure-works.com
22            ethan20@adventure-works.com
79           donald20@adventure-works.com
115           alvin20@adventure-works.com
146           karla20@adventure-works.com
                       ...
18342        cassie20@adventure-works.com
18369        arturo20@adventure-works.com
18384       latasha20@adventure-works.com
18415         oscar20@adventure-works.com
18428    kristopher20@adventure-works.com
Name: EmailAddress, Length: 483, dtype: object

In [52]:
#Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i dieci più lunghi e i dieci più corti
df1['EmailLength'] = df1['EmailAddress'].str.len()
top_emails = df1.nlargest(10, 'EmailLength')
und_emails = df1.nsmallest(10, 'EmailLength')
print("Dieci indirizzi email più lunghi:")
print(top_emails[['EmailAddress', 'EmailLength']])
print("\nDieci indirizzi email più corti:")
print(und_emails[['EmailAddress', 'EmailLength']])

Dieci indirizzi email più lunghi:
                            EmailAddress  EmailLength
979    christopher25@adventure-works.com           33
1767   christopher18@adventure-works.com           33
2655   christopher23@adventure-works.com           33
3512   christopher27@adventure-works.com           33
4772   christopher10@adventure-works.com           33
4973   christopher16@adventure-works.com           33
7755   christopher21@adventure-works.com           33
8768   christopher12@adventure-works.com           33
9242   christopher11@adventure-works.com           33
10233  christopher24@adventure-works.com           33

Dieci indirizzi email più corti:
                   EmailAddress  EmailLength
3974     k0@adventure-works.com           22
15299    y0@adventure-works.com           22
8      rob4@adventure-works.com           24
53     ana0@adventure-works.com           24
215    ana7@adventure-works.com           24
550    deb4@adventure-works.com           24
710    zoe6@adventure-works.com           24
986    max5@adventure-works.com           24
1658   joy2@adventure-works.com           24
1899   ana4@adventure-works.com           24

In [53]:
#Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace()
df1['EmailAddress'] = df1['EmailAddress'].str.replace('adventure-works.com', 'aw-db.com')
print(df1['EmailAddress'])

0             jon24@aw-db.com
1          eugene10@aw-db.com
2           ruben35@aw-db.com
3         christy12@aw-db.com
4        elizabeth5@aw-db.com
                 ...
18479        tommy2@aw-db.com
18480        nina21@aw-db.com
18481         ivan0@aw-db.com
18482      clayton0@aw-db.com
18483        jésus9@aw-db.com
Name: EmailAddress, Length: 18484, dtype: object

In [61]:
#Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street" 
Indirizzo = df1[df1['AddressLine1'].str.contains("Street")]
print(Indirizzo['AddressLine1'])

7              942 Brook Street
12            4785 Scott Street
32           626 Bentley Street
63           4927 Virgil Street
125          8481 Zartop Street
                  ...
18273        2155 Zartop Street
18292         3931 Scott Street
18323    134 Peachwillow Street
18333       1023 Hawkins Street
18351          8618 Rose Street
Name: AddressLine1, Length: 512, dtype: object

In [58]:
import pandas as pd
FCSV = pd.read_csv('dataset/facebook.csv')
FCSV.columns

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys'],
      dtype='object')

In [60]:
#Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp
FCSV['status_published'] = pd.to_datetime(FCSV['status_published'])
print(FCSV['status_published'])

0      2018-04-22 06:00:00
1      2018-04-21 22:45:00
2      2018-04-21 06:17:00
3      2018-04-21 02:29:00
4      2018-04-18 03:22:00
               ...
7045   2016-09-24 02:58:00
7046   2016-09-23 11:19:00
7047   2016-09-21 23:03:00
7048   2016-09-20 00:43:00
7049   2016-09-10 10:30:00
Name: status_published, Length: 7050, dtype: datetime64[ns]

In [62]:
FCSV['status_published'] = FCSV['status_published'].dt.strftime("%Y-%m-%d %H:%M:%S")
print(FCSV['status_published'])

0       2018-04-22 06:00:00
1       2018-04-21 22:45:00
2       2018-04-21 06:17:00
3       2018-04-21 02:29:00
4       2018-04-18 03:22:00
               ...
7045    2016-09-24 02:58:00
7046    2016-09-23 11:19:00
7047    2016-09-21 23:03:00
7048    2016-09-20 00:43:00
7049    2016-09-10 10:30:00
Name: status_published, Length: 7050, dtype: object

In [65]:
#Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, il giorno dell'anno, ecc.
FCSV['status_published'] = pd.to_datetime(FCSV['status_published'])

FCSV['anno'] = FCSV['status_published'].dt.year

FCSV['mese'] = FCSV['status_published'].dt.month

FCSV['giorno_settimana'] = FCSV['status_published'].dt.dayofweek

FCSV['giorno_anno'] = FCSV['status_published'].dt.dayofyear

print(FCSV[['status_published', 'anno', 'mese', 'giorno_settimana', 'giorno_anno']])

        status_published  anno  mese  giorno_settimana  giorno_anno
0    2018-04-22 06:00:00  2018     4                 6          112
1    2018-04-21 22:45:00  2018     4                 5          111
2    2018-04-21 06:17:00  2018     4                 5          111
3    2018-04-21 02:29:00  2018     4                 5          111
4    2018-04-18 03:22:00  2018     4                 2          108
...                  ...   ...   ...               ...          ...
7045 2016-09-24 02:58:00  2016     9                 5          268
7046 2016-09-23 11:19:00  2016     9                 4          267
7047 2016-09-21 23:03:00  2016     9                 2          265
7048 2016-09-20 00:43:00  2016     9                 1          264
7049 2016-09-10 10:30:00  2016     9                 5          254

[7050 rows x 5 columns]

In [72]:
#Estraiamo solo i post relativi al 2012

FCSV['anno'] = FCSV['status_published'].dt.year
status_2012 = FCSV[FCSV['anno'] == 2012]
status_2012

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,anno,mese,giorno_settimana,giorno_anno
2046,246675545449582_303160673134402,photo,2012-12-23 03:11:00,0,0,0,0,0,0,0,0,0,2012,12,6,358
2047,246675545449582_302341609882975,photo,2012-12-21 06:02:00,4,1,0,4,0,0,0,0,0,2012,12,4,356
2048,246675545449582_299212316862571,photo,2012-12-13 11:36:00,3,0,0,3,0,0,0,0,0,2012,12,3,348
2049,246675545449582_290159194434550,photo,2012-11-18 09:50:00,5,1,1,5,0,0,0,0,0,2012,11,6,323
2050,246675545449582_290154177768385,photo,2012-11-18 09:16:00,2,0,0,2,0,0,0,0,0,2012,11,6,323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2630,246675545449582_246688625448274,photo,2012-07-15 03:54:00,19,17,3,19,0,0,0,0,0,2012,7,6,197
2631,246675545449582_246686478781822,photo,2012-07-15 03:42:00,12,3,0,12,0,0,0,0,0,2012,7,6,197
2632,246675545449582_246684432115360,photo,2012-07-15 03:32:00,14,1,0,14,0,0,0,0,0,2012,7,6,197
2633,246675545449582_246678538782616,photo,2012-07-15 02:58:00,14,7,0,14,0,0,0,0,0,2012,7,6,197
2634,246675545449582_246677465449390,photo,2012-07-15 02:51:00,15,3,0,15,0,0,0,0,0,2012,7,6,197

In [74]:
#• Estraiamo solo i post relativi a maggio 2018
FCSV['mese'] = FCSV['status_published'].dt.month
FCSV['anno'] = FCSV['status_published'].dt.year
status_2018_05 = FCSV[(FCSV['anno'] == 2018) & (FCSV['mese'] == 5)]
status_2018_05

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,anno,mese,giorno_settimana,giorno_anno
2690,134115277150304_264554297439734,photo,2018-05-31 12:17:00,11,0,0,10,0,1,0,0,0,2018,5,3,151
2691,134115277150304_264493694112461,photo,2018-05-31 08:37:00,56,4,2,55,1,0,0,0,0,2018,5,3,151
2692,134115277150304_264416247453539,photo,2018-05-31 03:12:00,72,13,1,69,3,0,0,0,0,2018,5,3,151
2693,134115277150304_264168277478336,photo,2018-05-30 08:46:00,10,0,0,10,0,0,0,0,0,2018,5,2,150
2694,134115277150304_264160757479088,photo,2018-05-30 08:24:00,56,3,12,54,2,0,0,0,0,2018,5,2,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339,1050855161656896_1615666458509094,link,2018-05-04 01:27:00,12,7,7,12,0,0,0,0,0,2018,5,4,124
6340,1050855161656896_1614717551937318,photo,2018-05-03 01:15:00,63,21,1,62,1,0,0,0,0,2018,5,3,123
6341,1050855161656896_1614187798656960,photo,2018-05-02 12:17:00,218,105,153,212,2,4,0,0,0,2018,5,2,122
6342,1050855161656896_1613063202102753,video,2018-05-01 08:38:00,246,2373,475,108,130,5,2,1,0,2018,5,1,121
6343,1050855161656896_1612778858797854,photo,2018-05-01 01:18:00,34,5,0,33,1,0,0,0,0,2018,5,1,121

In [75]:
#Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana
FCSV['giorno_settimana'] = FCSV['status_published'].dt.dayofweek
post_weekend = FCSV[(FCSV['giorno_settimana'] == 5) | (FCSV['giorno_settimana'] == 6)]
post_settimana = FCSV[(FCSV['giorno_settimana'] != 5) & (FCSV['giorno_settimana'] != 6)]
print("Numero di post pubblicati nei weekend:", len(post_weekend))
print("Numero di post pubblicati nel resto della settimana:", len(post_settimana))

Numero di post pubblicati nei weekend: 2041
Numero di post pubblicati nel resto della settimana: 5009

In [78]:
#Troviamo il primo e ultimo post pubblicati in ogni anno
gruppo_anno = FCSV.groupby(FCSV['anno'])

def primo_e_ultimo(gruppo):
    primo_post = gruppo.iloc[0]['status_id']  
    ultimo_post = gruppo.iloc[-1]['status_id'] 
    return pd.Series([primo_post, ultimo_post], index=['Primo_post', 'Ultimo_post'])

primo_e_ultimo_post = gruppo_anno.apply(primo_e_ultimo)
primo_e_ultimo_post.reset_index(drop=True, inplace=True)

print(primo_e_ultimo_post)

                         Primo_post                        Ultimo_post
0   246675545449582_303160673134402    246675545449582_246677465449390
1   246675545449582_484017401715394    246675545449582_307286656055137
2   246675545449582_668776289906170    246675545449582_486434424807025
3   246675545449582_867129116737552    246675545449582_682315955218870
4  246675545449582_1157109567739504  1050855161656896_1050858841656528
5  246675545449582_1530240427093081  1050855161656896_1158522910890120
6  246675545449582_1649696485147474  1050855161656896_1495116993897375

In [81]:
#Utilizzando il metodo .tz_localize(), aggiungiamo un fuso orario alle date delle transazioni
FCSV['status_published'] = FCSV['status_published'].dt.tz_localize('Europe/Rome', nonexistent='NaT')
FCSV

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,anno,mese,giorno_settimana,giorno_anno
0,246675545449582_1649696485147474,video,2018-04-22 06:00:00+02:00,529,512,262,432,92,3,1,1,0,2018,4,6,112
1,246675545449582_1649426988507757,photo,2018-04-21 22:45:00+02:00,150,0,0,150,0,0,0,0,0,2018,4,5,111
2,246675545449582_1648730588577397,video,2018-04-21 06:17:00+02:00,227,236,57,204,21,1,1,0,0,2018,4,5,111
3,246675545449582_1648576705259452,photo,2018-04-21 02:29:00+02:00,111,0,0,111,0,0,0,0,0,2018,4,5,111
4,246675545449582_1645700502213739,photo,2018-04-18 03:22:00+02:00,213,0,0,204,9,0,0,0,0,2018,4,2,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,2016-09-24 02:58:00+02:00,89,0,0,89,0,0,0,0,0,2016,9,5,268
7046,1050855161656896_1061334757275603,photo,2016-09-23 11:19:00+02:00,16,0,0,14,1,0,1,0,0,2016,9,4,267
7047,1050855161656896_1060126464063099,photo,2016-09-21 23:03:00+02:00,2,0,0,1,1,0,0,0,0,2016,9,2,265
7048,1050855161656896_1058663487542730,photo,2016-09-20 00:43:00+02:00,351,12,22,349,2,0,0,0,0,2016,9,1,264
7049,1050855161656896_1050858841656528,photo,2016-09-10 10:30:00+02:00,17,0,0,17,0,0,0,0,0,2016,9,5,254

In [83]:
#Calcoliamo la differenza di tempo tra due transazioni
FCSV = FCSV.sort_values(by='status_published')
FCSV['diff_tempo'] = FCSV['status_published'].diff()
FCSV1 = FCSV.dropna(subset=['diff_tempo'])
print(FCSV1[['status_published', 'diff_tempo']])

              status_published      diff_tempo
2633 2012-07-15 02:58:00+02:00 0 days 00:07:00
2632 2012-07-15 03:32:00+02:00 0 days 00:34:00
2631 2012-07-15 03:42:00+02:00 0 days 00:10:00
2630 2012-07-15 03:54:00+02:00 0 days 00:12:00
2629 2012-07-15 04:00:00+02:00 0 days 00:06:00
...                        ...             ...
4734 2018-06-12 22:55:00+02:00 0 days 00:21:00
4733 2018-06-12 23:15:00+02:00 0 days 00:20:00
4732 2018-06-13 00:58:00+02:00 0 days 01:43:00
4731 2018-06-13 00:59:00+02:00 0 days 00:01:00
4730 2018-06-13 01:12:00+02:00 0 days 00:13:00

[7041 rows x 2 columns]

In [84]:
#Quanti tipi di post ci sono? E quanti per ogni tipo?
numero_totale = len(FCSV['status_type'].unique())
conteggio_per_tipo = FCSV['status_type'].value_counts()
print("Numero totale di status_type di post:", numero_totale)
print("Conteggio per tipo di status_type:")
print(conteggio_per_tipo)

Numero totale di status_type di post: 4
Conteggio per tipo di status_type:
status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

In [85]:
## POKEMON ##

import pandas as pd
PCSV = pd.read_csv('dataset/pokemon.csv')
PCSV.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [86]:
#Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli ci sono in ogni colonn
valori_nulli = FCSV.isnull().any().any()

if valori_nulli:
    valori_nulli_per_colonna = FCSV.isnull().sum()
    print("Ci sono valori nulli nel dataset.")
    print("Numero di valori nulli per colonna:")
    print(valori_nulli_per_colonna)
else:
    print("Non ci sono valori nulli nel dataset.")

Ci sono valori nulli nel dataset.
Numero di valori nulli per colonna:
status_id           0
status_type         0
status_published    8
num_reactions       0
num_comments        0
num_shares          0
num_likes           0
num_loves           0
num_wows            0
num_hahas           0
num_sads            0
num_angrys          0
anno                0
mese                0
giorno_settimana    0
giorno_anno         0
diff_tempo          9
dtype: int64

In [92]:
PCSV_senza_null = PCSV.dropna()
print(PCSV_senza_null.to_string())

       #                       Name    Type 1    Type 2  Total   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0      1                  Bulbasaur     Grass    Poison    318   45      49       49       65       65     45           1      False
1      2                    Ivysaur     Grass    Poison    405   60      62       63       80       80     60           1      False
2      3                   Venusaur     Grass    Poison    525   80      82       83      100      100     80           1      False
3      3      VenusaurMega Venusaur     Grass    Poison    625   80     100      123      122      120     80           1      False
6      6                  Charizard      Fire    Flying    534   78      84       78      109       85    100           1      False
7      6  CharizardMega Charizard X      Fire    Dragon    634   78     130      111      130       85    100           1      False
8      6  CharizardMega Charizard Y      Fire    Flying    634   78     104       78      159      115    100           1      False
15    12                 Butterfree       Bug    Flying    395   60      45       50       90       80     70           1      False
16    13                     Weedle       Bug    Poison    195   40      35       30       20       20     50           1      False
17    14                     Kakuna       Bug    Poison    205   45      25       50       25       25     35           1      False
18    15                   Beedrill       Bug    Poison    395   65      90       40       45       80     75           1      False
19    15      BeedrillMega Beedrill       Bug    Poison    495   65     150       40       15       80    145           1      False
20    16                     Pidgey    Normal    Flying    251   40      45       40       35       35     56           1      False
21    17                  Pidgeotto    Normal    Flying    349   63      60       55       50       50     71           1      False
22    18                    Pidgeot    Normal    Flying    479   83      80       75       70       70    101           1      False
23    18        PidgeotMega Pidgeot    Normal    Flying    579   83      80       80      135       80    121           1      False
26    21                    Spearow    Normal    Flying    262   40      60       30       31       31     70           1      False
27    22                     Fearow    Normal    Flying    442   65      90       65       61       61    100           1      False
36    31                  Nidoqueen    Poison    Ground    505   90      92       87       75       85     76           1      False
39    34                   Nidoking    Poison    Ground    505   81     102       77       85       75     85           1      False
44    39                 Jigglypuff    Normal     Fairy    270  115      45       20       45       25     20           1      False
45    40                 Wigglytuff    Normal     Fairy    435  140      70       45       85       50     45           1      False
46    41                      Zubat    Poison    Flying    245   40      45       35       30       40     55           1      False
47    42                     Golbat    Poison    Flying    455   75      80       70       65       75     90           1      False
48    43                     Oddish     Grass    Poison    320   45      50       55       75       65     30           1      False
49    44                      Gloom     Grass    Poison    395   60      65       70       85       75     40           1      False
50    45                  Vileplume     Grass    Poison    490   75      80       85      110       90     50           1      False
51    46                      Paras       Bug     Grass    285   35      70       55       45       55     25           1      False
52    47                   Parasect       Bug     Grass    405   60      95       80       60       80     30           1      False
53    48                    Venonat       Bug    Poison    305   60      55       50       40       55     45           1      False
54    49                   Venomoth       Bug    Poison    450   70      65       60       90       75     90           1      False
67    62                  Poliwrath     Water  Fighting    510   90      95       95       70       90     70           1      False
75    69                 Bellsprout     Grass    Poison    300   50      75       35       70       30     40           1      False
76    70                 Weepinbell     Grass    Poison    390   65      90       50       85       45     55           1      False
77    71                 Victreebel     Grass    Poison    490   80     105       65      100       70     70           1      False
78    72                  Tentacool     Water    Poison    335   40      40       35       50      100     70           1      False
79    73                 Tentacruel     Water    Poison    515   80      70       65       80      120    100           1      False
80    74                    Geodude      Rock    Ground    300   40      80      100       30       30     20           1      False
81    75                   Graveler      Rock    Ground    390   55      95      115       45       45     35           1      False
82    76                      Golem      Rock    Ground    495   80     120      130       55       65     45           1      False
85    79                   Slowpoke     Water   Psychic    315   90      65       65       40       40     15           1      False
86    80                    Slowbro     Water   Psychic    490   95      75      110      100       80     30           1      False
87    80        SlowbroMega Slowbro     Water   Psychic    590   95      75      180      130       80     30           1      False
88    81                  Magnemite  Electric     Steel    325   25      35       70       95       55     45           1      False
89    82                   Magneton  Electric     Steel    465   50      60       95      120       70     70           1      False
90    83                 Farfetch'd    Normal    Flying    352   52      65       55       58       62     60           1      False
91    84                      Doduo    Normal    Flying    310   35      85       45       35       35     75           1      False
92    85                     Dodrio    Normal    Flying    460   60     110       70       60       60    100           1      False
94    87                    Dewgong     Water       Ice    475   90      70       80       70       95     70           1      False
98    91                   Cloyster     Water       Ice    525   50      95      180       85       45     70           1      False
99    92                     Gastly     Ghost    Poison    310   30      35       30      100       35     80           1      False
100   93                    Haunter     Ghost    Poison    405   45      50       45      115       55     95           1      False
101   94                     Gengar     Ghost    Poison    500   60      65       60      130       75    110           1      False
102   94          GengarMega Gengar     Ghost    Poison    600   60      65       80      170       95    130           1      False
103   95                       Onix      Rock    Ground    385   35      45      160       30       45     70           1      False
110  102                  Exeggcute     Grass   Psychic    325   60      40       80       60       45     40           1      False
111  103                  Exeggutor     Grass   Psychic    520   95      95       85      125       65     55           1      False
119  111                    Rhyhorn    Ground      Rock    345   80      85       95       30       30     25           1      False
120  112                     Rhydon    Ground      Rock    485  105     130      120       45       45     40           1      False
130  121                    Starmie     Water   Psychic    520   60      75       85      100       85    115           1      False
131  122                   Mr. Mime   Psychic     Fairy    460   40      45       65      100      120     90           1      False
132  123                    Scyther       Bug    Flying    500   70     110       80       55       80    105           1      False
133  124                       Jynx       Ice   Psychic    455   65      50       35      115       95     95           1      False
137  127          PinsirMega Pinsir       Bug    Flying    600   65     155      120       65       90    105           1      False
140  130                   Gyarados     Water    Flying    540   95     125       79       60      100     81           1      False
141  130      GyaradosMega Gyarados     Water      Dark    640   95     155      109       70      130     81           1      False
142  131                     Lapras     Water       Ice    535  130      85       80       85       95     60           1      False
149  138                    Omanyte      Rock     Water    355   35      40      100       90       55     35           1      False
150  139                    Omastar      Rock     Water    495   70      60      125      115       70     55           1      False
151  140                     Kabuto      Rock     Water    355   30      80       90       55       45     55           1      False
152  141                   Kabutops      Rock     Water    495   60     115      105       65       70     80           1      False
153  142                 Aerodactyl      Rock    Flying    515   80     105       65       60       75    130           1      False
154  142  AerodactylMega Aerodactyl      Rock    Flying    615   80     135       85       70       95    150           1      False
156  144                   Articuno       Ice    Flying    580   90      85      100       95      125     85           1       True
157  145                     Zapdos  Electric    Flying    580   90      90       85      125       90    100           1       True
158  146                    Moltres      Fire    Flying    580   90     100       90      125       85     90           1       True
161  149                  Dragonite    Dragon    Flying    600   91     134       95      100      100     80           1      False
163  150        MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190      100      154      100    130           1       True
177  163                   Hoothoot    Normal    Flying    262   60      30       30       36       56     50           2      False
178  164                    Noctowl    Normal    Flying    442  100      50       50       76       96     70           2      False
179  165                     Ledyba       Bug    Flying    265   40      20       30       40       80     55           2      False
180  166                     Ledian       Bug    Flying    390   55      35       50       55      110     85           2      False
181  167                   Spinarak       Bug    Poison    250   40      60       40       40       40     30           2      False
182  168                    Ariados       Bug    Poison    390   70      90       70       60       60     40           2      False
183  169                     Crobat    Poison    Flying    535   85      90       80       70       80    130           2      False
184  170                   Chinchou     Water  Electric    330   75      38       38       56       56     67           2      False
185  171                    Lanturn     Water  Electric    460  125      58       58       76       76     67           2      False
188  174                  Igglybuff    Normal     Fairy    210   90      30       15       40       20     15           2      False
190  176                    Togetic     Fairy    Flying    405   55      40       85       80      105     40           2      False
191  177                       Natu   Psychic    Flying    320   40      50       45       70       45     70           2      False
192  178                       Xatu   Psychic    Flying    470   65      75       70       95       70     95           2      False
196  181      AmpharosMega Ampharos  Electric    Dragon    610   90      95      105      165      110     45           2      False
198  183                     Marill     Water     Fairy    250   70      20       50       20       50     40           2      False
199  184                  Azumarill     Water     Fairy    420  100      50       80       60       80     50           2      False
202  187                     Hoppip     Grass    Flying    250   35      35       40       35       55     50           2      False
203  188                   Skiploom     Grass    Flying    340   55      45       50       45       65     80           2      False
204  189                   Jumpluff     Grass    Flying    460   75      55       70       55       95    110           2      False
208  193                      Yanma       Bug    Flying    390   65      65       45       75       45     95           2      False
209  194                     Wooper     Water    Ground    210   55      45       45       25       25     15           2      False
210  195                   Quagsire     Water    Ground    430   95      85       85       65       65     35           2      False
213  198                    Murkrow      Dark    Flying    405   60      85       42       85       42     91           2      False
214  199                   Slowking     Water   Psychic    490   95      75       80      100      110     30           2      False
218  203                  Girafarig    Normal   Psychic    455   70      80       65       90       65     85           2      False
220  205                 Forretress       Bug     Steel    465   75      90      140       60       60     40           2      False
222  207                     Gligar    Ground    Flying    430   65      75      105       35       65     85           2      False
223  208                    Steelix     Steel    Ground    510   75      85      200       55       65     30           2      False
224  208        SteelixMega Steelix     Steel    Ground    610   75     125      230       55       95     30           2      False
227  211                   Qwilfish     Water    Poison    430   65      95       75       55       55     85           2      False
228  212                     Scizor       Bug     Steel    500   70     130      100       55       80     65           2      False
229  212          ScizorMega Scizor       Bug     Steel    600   70     150      140       65      100     75           2      False
230  213                    Shuckle       Bug      Rock    505   20      10      230       10      230      5           2      False
231  214                  Heracross       Bug  Fighting    500   80     125       75       40       95     85           2      False
232  214    HeracrossMega Heracross       Bug  Fighting    600   80     185      115       40      105     75           2      False
233  215                    Sneasel      Dark       Ice    430   55      95       55       35       75    115           2      False
237  219                   Magcargo      Fire      Rock    410   50      50      120       80       80     30           2      False
238  220                     Swinub       Ice    Ground    250   50      50       40       30       30     50           2      False
239  221                  Piloswine       Ice    Ground    450  100     100       80       60       60     50           2      False
240  222                    Corsola     Water      Rock    380   55      55       85       65       85     35           2      False
243  225                   Delibird       Ice    Flying    330   45      55       45       65       45     75           2      False
244  226                    Mantine     Water    Flying    465   65      40       70       80      140     70           2      False
245  227                   Skarmory     Steel    Flying    465   65      80      140       40       70     70           2      False
246  228                   Houndour      Dark      Fire    330   45      60       30       80       50     65           2      False
247  229                   Houndoom      Dark      Fire    500   75      90       50      110       80     95           2      False
248  229      HoundoomMega Houndoom      Dark      Fire    600   75      90       90      140       90    115           2      False
249  230                    Kingdra     Water    Dragon    540   75      95       95       95       95     85           2      False
257  238                   Smoochum       Ice   Psychic    305   45      30       15       85       65     65           2      False
265  246                   Larvitar      Rock    Ground    300   50      64       50       45       50     41           2      False
266  247                    Pupitar      Rock    Ground    410   70      84       70       65       70     51           2      False
267  248                  Tyranitar      Rock      Dark    600  100     134      110       95      100     61           2      False
268  248    TyranitarMega Tyranitar      Rock      Dark    700  100     164      150       95      120     71           2      False
269  249                      Lugia   Psychic    Flying    680  106      90      130       90      154    110           2       True
270  250                      Ho-oh      Fire    Flying    680  106     130       90      110      154     90           2       True
271  251                     Celebi   Psychic     Grass    600  100     100      100      100      100    100           2      False
275  254      SceptileMega Sceptile     Grass    Dragon    630   70     110       75      145       85    145           3      False
277  256                  Combusken      Fire  Fighting    405   60      85       60       85       60     55           3      False
278  257                   Blaziken      Fire  Fighting    530   80     120       70      110       70     80           3      False
279  257      BlazikenMega Blaziken      Fire  Fighting    630   80     160       80      130       80    100           3      False
281  259                  Marshtomp     Water    Ground    405   70      85       70       60       70     50           3      False
282  260                   Swampert     Water    Ground    535  100     110       90       85       90     60           3      False
283  260      SwampertMega Swampert     Water    Ground    635  100     150      110       95      110     70           3      False
290  267                  Beautifly       Bug    Flying    395   60      70       50      100       50     65           3      False
292  269                     Dustox       Bug    Poison    385   60      50       70       50       90     65           3      False
293  270                      Lotad     Water     Grass    220   40      30       30       40       50     30           3      False
294  271                     Lombre     Water     Grass    340   60      50       50       60       70     50           3      False
295  272                   Ludicolo     Water     Grass    480   80      70       70       90      100     70           3      False
297  274                    Nuzleaf     Grass      Dark    340   70      70       40       60       40     60           3      False
298  275                    Shiftry     Grass      Dark    480   90     100       60       90       60     80           3      False
299  276                    Taillow    Normal    Flying    270   40      55       30       30       30     85           3      False
300  277                    Swellow    Normal    Flying    430   60      85       60       50       50    125           3      False

In [93]:
## AUTOMOBILE ##

import pandas as pd
ACSV = pd.read_csv('dataset/automobile.csv')
ACSV.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [94]:
nulli = ACSV.isnull().any().any()

if nulli:
    nulli_per_colonna = ACSV.isnull().sum()
    print("Ci sono valori nulli nel dataset.")
    print("Numero di valori nulli per colonna:")
    print(nulli_per_colonna)
else:
    print("Non ci sono valori nulli nel dataset.")

Ci sono valori nulli nel dataset.
Numero di valori nulli per colonna:
symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [96]:
nullo = ACSV[ACSV['num-of-doors'].isnull()]
print(nullo.to_string())

    symboling  normalized-losses   make fuel-type aspiration num-of-doors body-style drive-wheels engine-location  wheel-base  length  width  height  curb-weight engine-type num-of-cylinders  engine-size fuel-system  bore stroke  compression-ratio horsepower peak-rpm  city-mpg  highway-mpg  price
26          1              148.0  dodge       gas      turbo          NaN      sedan          fwd           front        93.7   157.3   63.8    50.6         2191         ohc             four           98        mpfi  3.03   3.39                7.6        102     5500        24           30   8558
60          0                NaN  mazda    diesel        std          NaN      sedan          fwd           front        98.8   177.8   66.5    55.5         2443         ohc             four          122         idi  3.39   3.39               22.7         64     4650        36           42  10795

In [98]:
#Esaminando i dati, cerchiamo dei valori da sostituire ai valori nulli nella colonna num-of-doors
moda = ACSV['num-of-doors'].mode()[0]
ACSV['num-of-doors'] = ACSV['num-of-doors'].fillna(moda)
righe_valori_nulli = ACSV[ACSV['num-of-doors'].isnull()]
print(righe_valori_nulli)

Empty DataFrame
Columns: [symboling, normalized-losses, make, fuel-type, aspiration, num-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 26 columns]

In [102]:
import numpy as np, pandas as pd 
temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],       
                     "Temperature": [18, 19, 18, np.nan, 21, 20, 20,                      
                                     np.nan, 21, 23, np.nan, 23, 24]})
#• Il sensore a volte non funziona, dunque alcuni dati sono mancanti: quale sarebbe la migliore strategia per gestirli? 
media = temp['Temperature'].mean()

temp['Temperature'] = temp['Temperature'].fillna(media)

print(temp)

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3         20.7
4        4         21.0
5        5         20.0
6        6         20.0
7        7         20.7
8        8         21.0
9        9         23.0
10      10         20.7
11      11         23.0
12      12         24.0

In [2]:
## OS ##

import os

# Ottieni la lista dei file nella cartella 'dataset'
files = os.listdir('dataset')

# Filtra solo i file con il nome 'automobile.csv'
automobile_files = [file for file in files if file == 'automobile.csv']

print(automobile_files)

['automobile.csv']

In [5]:
import os
import pandas as pd

file_path = 'dataset/automobile.csv'  
df = pd.read_csv(file_path, encoding='latin1')

if df.isnull().values.any():
    print("Il dataset 'automobile.csv' contiene dati nulli.")
else:
    print("Il dataset 'automobile.csv' non contiene dati nulli.")

Il dataset 'automobile.csv' contiene dati nulli.